/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 99;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./assets/wow.jpeg') no-repeat center center/cover;
    background-size: cover;
    background-position: center;
}


#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Adjust this if you want better positioning */
}


.container {
    display: block; /* Remove flex-direction */
    margin: auto; /* Center the content */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content-wrapper {
    position: relative;
    z-index: 1;
  }
  
  .page-content {
    position: relative;
    z-index: 2; /* Make sure page content like forms are above Content */
  }
  