.prs-wrapper {
    width: 450px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    padding: 50px 30px;
    color: white;
    position: fixed;
    right: 3%;
    top: 25%;
    overflow: hidden; 
    white-space: normal;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .prs-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* space between svg, h2, p */
    text-align: center;
  }
  
  .prs-wrapper .success-icon {
    width: 100px;
    height: 100px;
    color: #059300;
  }
  
  .prs-wrapper h2 {
    font-size: 36px;
    padding: 0;
    margin: 0;
    line-height: 1;
    text-shadow: 2px 2px 15px #000;
  }
  
  .prs-wrapper p {
    font-size: 25px;
    color: white;
    margin: 0;
    padding: 8px;
    max-width: 400px;
    text-shadow: 2px 2px 15px #000;
  }
  
  /* Add close button styles here */
  .close-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #006071;
    font-size: 40px;
    color: #ffffff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
  }
  
  .close-icon .icon {
    color: white !important; /* Ensure it is white */
  }